[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
django-linter = "*"
pylint = "*"
isort = "*"
ipython = "*"
ipdb = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
